name: Docker Image Update

on:
  schedule:
    - cron: "0 * * * *" # Runs every day at midnight
  workflow_dispatch: # Allows manual triggering of the workflow
  push:
    branches:
      - master

jobs:
  check-version:
    runs-on: ubuntu-latest

    outputs:
      remote_version: ${{ steps.current-version.outputs.remote_version }}
      remote_minor_version: ${{ steps.current-version.outputs.remote_minor_version }}
      my_version: ${{ steps.my-version.outputs.my_version }}

    steps:
      - name: Set up Docker Hub credentials
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Get the current tags from Docker Hub
        id: current-version
        run: |
          curl -s "https://registry.hub.docker.com/v2/repositories/jellyfin/jellyfin/tags?page_size=30" > remote_tags.json
          VERSION_TAG=$(jq -r '.results[] | select(.name | test("^v[0-9]+\\.[0-9]+\\.[0-9]+$")) | .name' remote_tags.json | sort -V | tail -n 1)
          MINOR_VERSION_TAG=$(echo $VERSION_TAG | awk -F '.' '{print $1"."$2}')
          echo "remote_version=$VERSION_TAG"
          echo "remote_minor_version=$MINOR_VERSION_TAG"
          echo "remote_version=$VERSION_TAG" >> $GITHUB_OUTPUT
          echo "remote_minor_version=$MINOR_VERSION_TAG" >> $GITHUB_OUTPUT

      - name: Get the my tag from Docker Hub
        id: my-version
        run: |
          curl -s "https://registry.hub.docker.com/v2/repositories/controlnet/jellyfin/tags?page_size=10" > my_tags.json
          MY_VERSION=$(jq -r '.results[] | select(.name | test("^v[0-9]+\\.[0-9]+\\.[0-9]+$")) | .name' my_tags.json | sort -V | tail -n 1)
          echo "my_version=$MY_VERSION"
          echo "my_version=$MY_VERSION" >> $GITHUB_OUTPUT

  update-image:
    runs-on: ubuntu-latest
    needs: check-version
    if: github.event_name == 'workflow_dispatch' || needs.check-version.outputs.remote_version != needs.check-version.outputs.my_version

    steps:
      - name: Set up Docker Hub credentials
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Check out the current repository
        uses: actions/checkout@v3

      - name: Set up Version Tag
        run: |
          version="${{ needs.check-version.outputs.remote_version }}"
          echo "version=$version" >> $GITHUB_ENV
          echo "minor_version=v$(echo "$version" | awk -F '.' '{print $1"."$2}')" >> $GITHUB_ENV
          echo "major_version=v$(echo "$version" | awk -F '.' '{print $1}')" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate Dockerfile
        run: |
          sed "s|<VERSION_TAG>|${version}|g" Dockerfile_template > Dockerfile
  
      - name: Build the Docker image
        uses: docker/build-push-action@v6
        env:
          VERSION_TAG: ${{ needs.check-version.outputs.remote_version }}
        with:
          context: ./
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: | 
            controlnet/jellyfin:latest
            controlnet/jellyfin:${{ env.version }}
            controlnet/jellyfin:${{ env.minor_version }}
            controlnet/jellyfin:${{ env.major_version }}
